body{
background: #1e3c72;  /* fallback for old browsers  JOOMLA*/
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}